.price {
    padding-top: 120px;
    &__title {
        text-align: center;
        position: relative;
        @include before_circle;
        &::before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__wrapper {
        margin-top: 60px;
        padding: 0 60px;
        display: grid;
        grid-template: repeat(3, minmax(45px, auto)) / repeat(2,370px);
        grid-auto-rows: minmax(45px, auto);
        justify-content: space-between;
        row-gap: 15px;
    }
    &__item {
        position: relative;
        display: grid;
        grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto);
        row-gap: 5px;
        padding-left: 25px;
        &::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: $main-color;
            top: 5px;
            border-radius: 100%;
        }
    }
    &__type, &__count {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
    }
    &__count {
        justify-self: flex-end;
    }
    &__descr {
        grid-column: 1/3;
        font-size: 12px;
        line-height: 18px;
    }
}